.chat_item .info {
    display: none;
}

.chat_item .ext {
    display: none;
}

.login {
    min-width: 0;
    min-height: 0;
}

.main_inner {
    min-width: 0;
    min-height: 0;
}

.panel {
    width: 80px;
}

.panel .tab {
    display: none;
}

.panel .search_bar {
    display: none
}

.panel .info .nickname {
    display: none;
}

.login .lang,
.login .copyright {
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

#editArea {
    display: inline-block;
    width: 70%;
    height: 1.8em;
    margin-left: 20px;
    margin-right: 10px;
    border-radius: 5px;
    padding: 3px 10px;
    background: white;
    border: 1px solid #c1c1c1;
}


.box_hd .title_wrap{
    z-index: 0;
}
#wx4pad_top_drawer{
    width: 100%;
    position: absolute;
    top: 0
}

#wx4pad_top_drawer_container{
    height: 200px;
    background-color: #eee;
    box-shadow: 2px 2px 6px rgba(150, 150, 150, 0.5);
}

#wx4pad_top_drawer_toggle{
    margin-left: 80%;
    width: 40px;
    background-color: #eee;
    text-align: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 2px 2px 6px rgba(150, 150, 150, 0.5);
}

#wx4pad_top_drawer_toggle img{
    display: inline-block;
    width: 20px;
    height: 20px;
}